html {
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 0;
  color: white;
  background: #202731;
}
section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 20vw;
  min-height: 400px;
}
.blue {
  background: #3c31dd;
}
.red {
  background: #dd3f31;
}
